body {
  font-family: "Open Sans", sans-serif;
  margin: 0 130px;
}

/* Nav Related Style */
nav {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  color: black;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}
.nav-title > span {
  color: #fd6e0a;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(36, 36, 36);
  font-size: 16px;
}

.btn-primary {
  width: 150px;
  height: 64px;
  font-size: 20px;
  border: 0;
  background-color: #fd6e0a;
  color: white;
  padding: 18px 36px;
  border-radius: 10px;
}

.btn-primary:hover {
  color: black;
}
/* Nav Related Style */
